---
import Navigation from './Navigation.astro';
import SnsLinks from './SnsLinks.astro';
---
<header>
  <nav class="py-8 flex justify-between items-center">
    <a href="/">
      <img src="/astro-logo-dark1.svg" alt="Astro logo"/>
    </a>
    <Navigation />
    <SnsLinks
  </nav>
</header>
