---
---
<ul class="flex gap-x-2">
  <li>
    <a
      class="transition-all ease-out hover:opacity-60"
      href="https://www.github.com/"
      target="_blank"
    >
      <img src="/github.svg" alt="GutHub" />
    </a>
  </li>
  <li>
    <a
    class="transition-all ease-out hover:opacity-60"
    href="https://www.twitter.com/"
    target="_blank"
  >
      <img src="/x.svg" alt="X（Twitter）" />
    </a>
  </li>
  <li>
    <a
      class="transition-all ease-out hover:opacity-60"
      href="https://www.youtube.com/"
      target="_blank"
    >
      <img src="/youtube.svg" alt="YouTube" />
    </a>
  </li>
</ul>
